body, html, div, main, header {

    margin:0;
    padding:0;
    border-style: dotted dashed solid double;
    border-color:#f6cde1;;
    border-width: 1px;


}

.calendar {

    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 14vw;
    height: 100vh;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: 30px;
}

.day {

    background-color: #f6cde1;
    margin:7px;
    padding: 7px; 
    box-shadow: 3px 0px 2px rgba(0,0,0,0.5); 
    text-shadow: 3px 0px 2px rgba(0,0,0,0.5); 
    

}


.calendar-header {

grid-column-start: 1;
grid-column-end: -1;
background-color:lightblue;
display: flex;
align-items:flex-end;
background-image: url(duotone.png);
background-size: cover;
margin: none;
}

.space {

    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;

}

.calendar-title {

    color: white;
    margin-left: 10px;
    text-shadow: 3px 0px 2px rgba(0,0,0,0.5); 
    font-size: 70px;
}

.day-weekend {
    background-color:#005eac;
    margin:7px;
    padding: 7px; 
    box-shadow: 3px 0px 2px rgba(0,0,0,0.5); 
    text-shadow: 3px 0px 2px rgba(0,0,0,0.5); 

}



